<section id="Hero" class="homeHero w-full">
  <div class="custom-container w-full h-full flex items-center justify-center md:justify-start">
    <div class="max-w-[500px]">
      <app-heading-title
        [title]="'100% Natural Food'"
        [subTitle]="'Choose the best healthier way of life'"
        [classTitle]="'text-center md:text-start'"
        [classSubTitle]="'text-center md:text-start'"
      />
      <div class="mt-7 flex justify-center md:justify-start">
        <app-shine-button title="Explore Now" className="text-primary bg-yellow border-[#EFD372] bg-[#EFD372] hover:shadow-[#EFD372]" />
      </div>

    </div>
  </div>
</section>
