<section id="offer" class="w-full bg-white py-20">
  <div class="custom-container">
    <div class="flex flex-col sm:flex-row gap-x-10 gap-y-5 justify-center items-center">
      <div class="offer1 h-[200px] rounded-3xl max-w-[500px] w-full">
        <div class="w-full h-full flex items-center justify-start px-10">
          <div class="max-w-[200px]">
            <h4 class="text-white font-normal font-yellowtail text-xl sm:text-3xl">Natural!!</h4>
            <h2 class="text-white font-semibold text-xl sm:text-2xl mt-2">Get Garden Fresh Fruits</h2>
          </div>
        </div>
      </div>
      <div class="offer2 h-[200px] rounded-3xl max-w-[500px] w-full">
        <div class="w-full h-full flex items-center justify-start px-10">
          <div class="max-w-[200px]">
            <h4 class="text-green font-normal font-yellowtail text-xl sm:text-3xl">Offer!!</h4>
            <h2 class="text-primary font-semibold text-xl sm:text-2xl mt-2">Get 10% off on Vegetables</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
