@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-openSans: "OpenSans", sans-serif;
  --font-yellowtail: "Yellowtail", sans-serif;
  --font-bebasNeue: "BebasNeue", sans-serif;
}

body {
  font-family: "Poppins", "OpenSans", sans-serif;

  background-image: url("../public/right-nuts.svg"), url("../public/right-nuts.svg") !important;
  background-position: -7% 43vh, 107% 24vh !important;
  background-repeat: no-repeat !important;
  background-color: #ffffff !important;
  background-size: 17vw !important;
  background-attachment: scroll !important;
}

.custom-container {
  @apply container mx-auto px-4 sm:px-10 lg:px-32 max-w-[1400px]
}

@theme {
  --color-white: #fff;
  --primary-color: #274C5B;
  --green-color: #7EB693;
  --yellow-color: #EFD372;
  --light-gray-color: #D4D4D4;
  --dark-gray-color: #525C60;
  --ghost-color: #F9F8F8;
  --soft-color: #EFF6F1;
}

.text-primary {
  @apply text-[#274C5B];
}

.text-fern-green {
  @apply text-[#3D5B58];
}

.text-green {
  @apply text-[#7EB693];
}

.text-yellow {
  @apply text-[#EFD372];
}

.bg-yellow {
  @apply bg-[#EFD372];
}

.text-lightGray {
  @apply text-[#D4D4D4];
}

.text-darkGray {
  @apply text-[#525C60];
}

.text-ghostWhite {
  @apply text-[#F9F8F8];
}

.bg-ghostWhite {
  @apply bg-[#F9F8F8];
}

.text-softWhite {
  @apply text-[#EFF6F1];
}

.p-drawer {
  background: #f2f4f2db !important;
  transition: transform 200ms ease, visibility 200ms ease !important;
  /*height: calc(100% - 82px) !important;*/
  /*top: 82px !important;*/
}

.p-overlay-mask.p-drawer-mask {
  background: rgb(61, 77, 81, 0.5) !important;
}

.openMenu .p-button {
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important;
}

.homeHero {
  height: calc(100vh - 82px);
  background: url("../public/banners/home-banner.png") center center no-repeat;
  background-size: cover;
  width: 100%;
}

@media (max-width: 768px) {
  .homeHero {
    height: calc(100vh - 72px);
  }
}

footer:before {
  content: '';
  width: 100%;
  height: 121px;
  top: -110px;
  left: 0;
  position: absolute;
  background-size: contain;
  background: url("../public/footers.svg") no-repeat bottom center;
}

.input-subscribe #in_label {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

.offer1 {
  background: url("../public/natural-bg.png") center center no-repeat;
  background-size: cover;
}

.offer2 {
  background: url("../public/offer-bg.png") center center no-repeat;
  background-size: cover;
}

